{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <h1><center>User Profile </center></h1>
   
    <h1>{{ user_profile.user.username }} 's Profile</h1>
    <p>First name: {{ user_profile.user.first_name }}</p>
    <p>Last name: {{ user_profile.user.last_name }}</p>
    <p>Email: {{ user_profile.user.email }}</p>
    
   
    <a href="{% url 'movieapp:edit_profile' user_profile.user.id %}"><button> Edit Profile</a></button>
   
</body>
</html>
